[Unit]
Description=MQTT2Shutdown_container_startup
After=docker.service
Requires=docker.service


[Service]
Restart=always
RestartSec=10
EnvironmentFile=/etc/mqtt2shutdown.env

ExecStart=/usr/bin/docker run \
  --rm \
  --name mqtt2shutdown \
  --env-file /etc/mqtt2shutdown.env \
  mqtt2shutdown

ExecStop=/usr/bin/docker stop mqtt2shutdown


[Install]
WantedBy=multi-user.target
