[Unit]
Description=MQTT2Shutdown_container_startup
After=docker.service
Requires=docker.service

[Service]
Restart=always
RestartSec=10

ExecStart=/usr/bin/docker run\
    --name mqtt2shutdown\
    --tmpfs /shared/commands:rw,size=5m\
    -e MQTT_ADDRESS=192.168.1.10\
    ...\
    mqtt2shutdown

ExecStop=/usr/bin/docker stop mqtt2shutdown

[Install]
WantedBy=multi-user.target
